# Database Configuration
MYSQL_DATABASE=dmoj
MYSQL_USER=dmoj
MYSQL_PASSWORD=dmoj_password
MYSQL_ROOT_PASSWORD=root_password

# Web Application
WEB_PORT=8000

# System Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword
